{% extends 'main/base.html' %}
{% block content %}
<p>Код отправлен на {{ code.get_contact }} и действителен до {{ code.actual_till }}. Вы можете получить новый код после того, когда текущий станет неактуален.</p>
{% if code.errors %}
{% load get_plural %}
<p>
    {% if code.tries_left == 1 %}Осталась{% else %}Осталось{% endif %} {{ code.tries_left|get_plural:'попытка,попытки,попыток' }}.
</p>
{% endif %}
{% if code.is_verifiable %}
<form method="post" id="verify_contact">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn">Отправить</button>
</form>
{% endif %}
{% endblock %}