{% load static %}
      <div id="log-frame">
        <div id="log">
          <p class="frame-h">вход</p>
          <form id="loginform" class="sendform" method="post" action="{% url 'login' %}">{% csrf_token %}
            <label for="phone-inp" class="lab" data-inputmask="'alias': 'phone'"><img src="{% static 'img/phone.png' %}"></label>
            <input type="phone" class="vu" id="phone-inp" placeholder="введите номер телефона" name="username" value="{{ form.phone.value }}">
              <label for="pass-inp" class="lab"><img src="{% static 'img/pass.png' %}"></label>
              <input type="password" id="pass-inp" placeholder="введите ваш пароль" name="password">
              <button class="btn">вход</button>
          </form>
            {{ form.errors }}
            <button name="reg" class="btn">регистрация</button>
          <p style="font-size:15px;"><a href="{% url 'password_reset_request' %}">восстановление пароля</a></p>
        </div>

      </div>