
       <form id="form-reg" action="{% url 'registration' %}" method="post" class="form popup-content">{% csrf_token %}
            <h3 class="form__title">Регистрация</h3>
            <input class="form__item input" type="tel" placeholder="Телефон" name="phone" required>
            <input class="form__item input" type="mail" placeholder="E-mail" name="email">
            <input class="form__item input" type="text" placeholder="Имя" name="first_name" required>
            <input class="form__item input" type="password" placeholder="Введите ваш пароль" name="password1" required>
            <input class="form__item input" type="password" placeholder="Введите ваш пароль еще раз" name="password2" required>
        
            <p class="alert-danger-phone"></p>
            <p class="alert-danger-email"></p>
            <p class="alert-danger-password1"></p>
            <p class="alert-danger-password2"></p>
       

            <button type="submit" class="btn form__btn">Продолжить</button>

            <a href="#" class="form__already btnLogin">У меня уже есть учетная запись</a>

            <span class="popup__close"></span>
        </form>