{% load static %}
{% load extra_menu_header %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block meta_title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    {% block extra_head %}
    {% endblock extra_head %}
</head>
<body>
    <header class="header">
{% block extra_header %}

    {% extra_menu_header %}
    {% endblock %}

{% block menu_header %}
{% endblock %}
    </header>


{% block content %}
{% endblock %}


    <footer class="footer">
        <div class="container">
            <a href='#' class="b-logo">
                <img src="{% static 'img/logo.png' %}" alt="logo">
            </a>
            {% block footer_menu %}
            {% endblock %}

            <div class="footer__contacts">
                <h3 class="footer-title">Контакты</h3>
                <ul class="footer__contacts-list">
                    {% for c in contacts.telegram %}
                    <li><a href="tel:{{ c.identifier }}"><i class="fab fa-telegram"></i>{{ c.identifier }}</a></li>
                    {% endfor %}
                    {% for c in contacts.phone %}
                    <li><a href="tel:{{ c.identifier }}"><i class="fas fa-phone"></i>{{ c.identifier }}</a></li>
                    {% endfor %}
                    {% for c in contacts.email %}
                    <li><a href="mailto:{{ c.identifier }}"><i class="fas fa-envelope"></i>
                    {{ c.identifier }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            
            <div class="footer__payment">
                <h3 class="footer-title footer__payment-title">Мы принимаем</h3>
                <i class="fab fa-cc-visa"></i>
                <i class="fab fa-cc-mastercard"></i>
                <i class="fab fa-cc-discover"></i>
                <i class="fab fa-cc-amex"></i>
                <i class="fab fa-cc-stripe"></i>
                <i class="fab fa-cc-paypal"></i>
                <div class="footer__payment-item"></div>
                <div class="footer__payment-item"></div>
                <div class="footer__payment-item"></div>
                <div class="footer__payment-item"></div>
                <div class="footer__payment-item"></div>
            </div>

            <p class="footer__base">
                Розробник <span><a href="http://finceh.com/" target="_blank">FinЦех</a></span>
            </p>
        </div>
    </footer>

    <div class="popup">
        <form id="form-quest" action="#" class="form popup-content">
            <h3 class="form__title">Есть вопросы? Задайте их нам</h3>
            <select class="form__item select">
                <option value="Тема">Тема</option>
                <option value="Тема">Тема</option>
            </select>

            <input class="form__item input" type="mail" placeholder="E-mail" required>
            <input class="form__item input" type="text" placeholder="Имя" required>
            <input class="form__item input" type="text" placeholder="Ваш вопрос" required>

            <button type="submit" class="btn form__btn">Отправить</button>

            <span class="popup__close"></span>
        </form>

        {% include "main/_verify_form.html" %}
        {% include "users/reg.html" %}
        {% include "users/login.html" %}
        

 
        <form id="form-apply" action="#" class="form popup-content">
            <h3 class="form__title">Заявить о мошеннике</h3>
            <select class="form__item select">
                <option value="Тема">Площадка</option>
                <option value="Тема">Тема</option>
            </select>

            <input class="form__item input" type="tel" placeholder="Номер карты" required>
            <input class="form__item input" type="text" placeholder="ФИО владельца" required>


            <div class="doc-box">
                <label class="doc-add">
                    <input type="file"> 
                    <span class="doc-add__icon">
                        <i class="far fa-file"></i>
                    </span>

                    <span class="doc-add__text">Добавить файл</span>
                </label>
            </div>

            <button type="submit" class="btn form__btn">Отправить</button>

            <span class="popup__close"></span>
        </form>

        <form id="form-password" action="#" class="form popup-content">
            <h3 class="form__title">Восстновление пароля</h3>

            <div class="validation-box">
                <input class="form__item input" type="password" placeholder="Новый пароль" required>
                <i class="fas fa-snowflake"></i>
            </div>

            <div class="validation-box">
                <input class="form__item input" type="password" placeholder="Повторить пароль" required>
                <i class="fas fa-snowflake"></i>
            </div>

            <div class="validation-error"><i class="fas fa-snowflake"></i> Поле заполнено неверно</div>
            <button type="submit" class="btn form__btn">Отправить</button>

            <span class="popup__close"></span>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="{% static 'libs/common.js' %}"></script>
</body>
</html>