{% extends "main/base.html" %}
{% load static %}
{% block meta_title %}Credit-page{% endblock %}
{% block menu_header %}
     <main class="header__main">
            <div class="container">
                <a href="{% url 'landing' %}" class="b-logo">
                    <img src="{% static 'img/logo.png' %}" alt="logo">
                </a>

                <button class="mobile-menu">
                    <div class="mobile-menu__sandwich">
                        <span class="mobile-menu__topper"></span>
                        <span class="mobile-menu__middle"></span>
                        <span class="mobile-menu__footer"></span>
                    </div>
                    <span class="mobile-menu__text">Меню</span>
                </button>

                <nav class="header__main-nav">
                {% for tab in tabs %}
                	<a href="{% url 'landing' %}#{{ tab.content.slug }}">{{ tab.content.title }}</a>
                {% endfor %}
                    {% if user.is_authenticated %}
                    <a href="{% url 'user_detail' %}">Мой кабинет <i class="fas fa-sign-out-alt"></i></a>
                    {% endif %}
                </nav>
            </div>
        </main>
{% endblock %}
{% block content %}

	<section class="section">
		<div class="container">
			<h2 class="section-title">Оформить кредит</h2>
			<form action="#" class="form-credit">
				<h3 class="form-credit__title">Сумма кредита</h3>
				<div class="form-slider">
					<div id="credit-slider">
						<div class="ui-slider-helper">
							<a class='ui-slider-handle'>
								<span class="ui-slider-val">0 грн</span>
							</a>
						</div>
					</div>
				</div>
				<h3 class="form-credit__title">Строк кредита</h3>

				<div class="form-slider">
					<div id="termin-slider">
						<div class="ui-slider-helper">
							<a class='ui-slider-handle'>
								<span class="ui-slider-val">0 дней</span>
							</a>
						</div>
					</div>
				</div>
				<fieldset class="form-credit__field">
					<div class="form-credit__item">
						<label for="credit-name" class="form-credit__label">ФИО</label>
						<input id="credit-name" type="text" class="form-credit__input" placeholder="Ведите ФИО" required>
					</div>
					<div class="form-credit__item">
						<label for="credit-phone" class="form-credit__label">Номер телефона</label>
						<input id="credit-phone" type="tel" class="form-credit__input form-credit__input--tel" placeholder="+38 (_ _ _) _ _ _  _ _ _ _" required>
					</div>
					<div class="form__item-multiple">
						<div class="form-credit__item">
							<label for="credit-passport" class="form-credit__label">Серия паспорта</label>
							<input id="credit-seria" type="text" class="form-credit__input form-credit__input--serial" placeholder="XX" maxlength="2" required>
						</div>
						<div class="form-credit__item">
							<label for="credit-seria-num" class="form-credit__label">Номер паспорта</label>
							<input id="credit-seria-num" type="tel" class="form-credit__input form-credit__input--serial-num" placeholder="XXXXXX" maxlength="6" required>
						</div>
					</div>

					<div class="form-credit__item">
						<label for="credit-id" class="form-credit__label">ИНН</label>
						<input id="credit-id" type="text" class="form-credit__input form-credit__input--serial-id" placeholder="XXXXXXXXXX" maxlength="10" required>
					</div>
					<div class="form-credit__item">
						<label for="credit-mail" class="form-credit__label">Почта</label>
						<input id="credit-mail" type="text" class="form-credit__input" placeholder="Введите ваш e-mail" required>
					</div>

					<div class="b-checkbox">
						<input id="credit-check" type="checkbox">
						<label for="credit-check">Я соглашаюсь с <a href="#" class="b-checkbox__link">правилами обработки данных</a></label>	
					</div>

					<button class="form__btn-apply">Отправить</button>
				</fieldset>
			</form>
		</div>
	</section>

{% include "main/online_decision.html" %}
{% endblock %}
{% block footer_menu %}
 <ul class="footer__nav">
    {% for links in footer_menu1|slice:":5" %}
    <li><a href="#" class="footer__nav-link">{{ links.content.title}}</a></li>
    {% endfor %}
</ul>
 <ul class="footer__nav">
    {% for links in footer_menu2|slice:":5" %}
    <li><a href="#" class="footer__nav-link">{{ links.content.title}}</a></li>
     {% endfor %}
</ul>
<ul class="footer__nav">
    {% for links in footer_menu3|slice:":5" %}
    <li><a href="#" class="footer__nav-link">{{ links.content.title}}</a></li>
    {% endfor %}
</ul>
{% endblock %}