{% extends 'main/base.html' %}
{% load static %}
{% block content %}
		<div class="banner col-md-12">
			<img class="banner-back" src="{% static 'images/banner1.png' %}">
			<div class="banner-content text-center b-15 clearfix">
				<img class="hidden-xs" src="{% static 'images/img-perevod.png' %}">
				<br>
				<div class="m-t-25">
				<div class="inline-block m-r-20">
					<a class="button" href="#">отправить деньги</a>
					<p class="sub-text m-t-15">мгновенно без регистрации</p>
				</div>
				<div class="inline-block">
					<a class="button" href="{% url 'registration' %}">регистрация</a>
					<p class="sub-text m-t-15">экономь 0,5% на все переводы</p>
				</div>
				</div>
			</div>
		</div>

		<div id="info-tabs" class="hidden-xs col-md-12 m-t-20">
			<ul class="nav nav-tabs" role="tablist">
				{% for tab in tabs %}
				<li role="presentation"><a href="#{{ tab.content.slug }}" aria-controls="{{ tab.content.slug }}" role="tab" data-toggle="tab">{{ tab.content.title }}</a></li>
				{% endfor %}
				<li role="presentation" class="active"><a href="#asks-questions" aria-controls="asks-questions" role="tab" data-toggle="tab">вопросы и ответы</a></li>
			</ul>
			<!-- Tab panes -->
  			<div class="tab-content">
				{% for tab in tabs %}
    			<div role="tabpanel" class="tab-pane" id="{{ tab.content.slug }}">
    				{{ tab.content.content|linebreaks }}
    			</div>
				{% endfor %}
				<div role="tabpanel" class="tab-pane active" id="asks-questions">
    				<p>Что такое PAY2YOU?</p>

					<p>Какие карты можно использовать для перевода и получения денег через PAY2YOU?</p>

					<p>В какой валюте можно переводить деньги?</p>

					<p>На каких устройствах можно сделать перевод?</p>

					<p>Какие данные мне нужно знать, чтобы отправить деньги?</p>

					<p>Что такое CVV-код?</p>

					<p>Что такое промо код? Где его получить?</p>

    			</div>
  			</div>
		</div>
		<div class="col-sm-12 col-xs-12 visible-xs-block m-t-20" id="acordion-place"></div>
		<div class="banner col-md-12 m-t-20 m-b-10" id="baner2">
			<img class="banner-back" src="{% static 'images/banner2.png' %}">
			<div class="banner-content text-right vertical-center">
				<div class="fz-16 banner-text p-r-35">
					<div style="display: inline-block; vertical-align: middle;" class="m-r-50">
						Желаете экономить деньги на комиссиях!<br>Войдите в личный кабинет
					</div>
					<div style="display: inline-block; vertical-align: middle;">
						<span class="radiogreen-color">ВХОД</span>
						<img class="m-l-15" src="{% static 'images/ enter-button.png' %}">
					</div>
				</div>
			</div>
		</div>
    <div id="iframe">
		<iframe frameborder="no" width="100%" scrolling="no" border="0px" height="740px" src="https://p2y.com.ua/partners/sofast2/#!/send" seamless marginwidth="0" marginwidth="0"></iframe>
	</div>
{% endblock %}