{% extends "main/base.html" %}
{% load static %}

{% block meta_title %}
    {% for b in main_block|slice:':1' %}
        {{ b.title }}
    {% endfor %}
{% endblock %}
{% block menu_header %}
     <main class="header__main">
            <div class="container">
                <a href="{% url 'landing' %}" class="b-logo">
                    <img src="{% static 'img/logo.png' %}" alt="logo">
                </a>

                <button class="mobile-menu">
                    <div class="mobile-menu__sandwich">
                        <span class="mobile-menu__topper"></span>
                        <span class="mobile-menu__middle"></span>
                        <span class="mobile-menu__footer"></span>
                    </div>
                    <span class="mobile-menu__text">Меню</span>
                </button>

                <nav class="header__main-nav">
                {% for tab in tabs %}
                	<a href="{% url 'landing' %}#{{ tab.content.slug }}">{{ tab.content.title }}</a>
                {% endfor %}
                    {% if user.is_authenticated %}
                    <a href="{% url 'user_detail' %}">Мой кабинет <i class="fas fa-sign-out-alt"></i></a>
                    {% endif %}
                </nav>
            </div>
        </main>
{% endblock %}
{% block content %}

	<section class="main-section">
		<div class="container">
        {% for b in main_block|slice:':1' %}
			<div class="main">
				<main class="main-content">
					<h1 class="main-content__title">{{ b.title }}</h1>
					<p class="main-content__text">{{ b.text }}</p>

					<div class="btn-group">
						<a href="{% url 'credit-page' %}" class="btn btn-prime">
                        {% if b.button1 %}{{ b.button1 }}{% else %}
                        Получить кредит{% endif %}</a>
						<button class="btn btn-prime btnRegistration">
                        {% if b.button2 %}{{ b.button2 }}{% else %}
                        Регистрация{% endif %}
                        </button>
					</div>
					<div class="main-content__tab">
						<a href="{% url 'landing' %}" class="main-content__tab-link active">Оформить кредит</a>
						<a href="{% url 'transfers' %}" class="main-content__tab-link"{% if not user.is_authenticated %} onclick="event.preventDefault(); var popup = new Popup(); popup.open($('.popup #form-login'));"{% endif %}>Переводы</a>
					</div>
				</main>
				<!--img height must be less than 280px-->
				<div class="main__image">
					<img src="{% static 'img/macbook.png' %}" alt="macbook" class="main__image-prime">
					<img src="{% if not b.main_image %}{{ b.main_image.url }}{% else %}{% static 'img/content-1.jpg'%}{% endif %}" alt="content" class="main__image-content">
					<img src="{% if b.extra_image %}{{ b.extra_image.url }}{% else %}{% static 'img/pig.png' %}{% endif %}" alt="pig" class="main__image-abs">
				</div>
			</div>
		</div>
        {% endfor %}
	</section>

	<section class="media-section">
		<div class="container">
			<div class="media">
				<div class="media__item">
					<img src="{% static 'img/icons/advanteges/smartphone.png' %}" alt="smartphone" class="media__item-img">
					<p class="media__item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos quia blanditiis temporibus quas, incidunt.</p>
				</div>
				<div class="media__item">
					<img src="{% static 'img/icons/advanteges/money.png' %}" alt="money" class="media__item-img">
					<p class="media__item-text">Harum, nobis asperiores at temporibus quo nostrum repellat itaque repudiandae vero dignissimos, in quis expedita </p>
				</div>
				<div class="media__item">
					<img src="{% static 'img/icons/advanteges/wallet.png' %}" alt="wallet" class="media__item-img">
					<p class="media__item-text">Odio in unde ratione laboriosam quo, architecto doloremque nobis, neque autem consequuntur, voluptas et itaque suscipit. </p>
				</div>
				<div class="media__item">
					<img src="{% static 'img/icons/advanteges/credit-card.png' %}" alt="credit-card" class="media__item-img">
					<p class="media__item-text">Voluptate consequatur aspernatur numquam cumque, odit incidunt possimus accusantium dolore.</p>
				</div>
				<div class="media__item">
					<img src="{% static 'img/icons/advanteges/credit-card-color.png' %}" alt="credit-card" class="media__item-img">
					<p class="media__item-text">Dolorem rem ea iure, voluptas ipsa minima, perferendis impedit eveniet perspiciatis velit harum </p>
				</div>
				<div class="media__item">
					<img src="{% static 'img/icons/advanteges/coin.png' %}" alt="coin" class="media__item-img">
					<p class="media__item-text">Voluptatum illo in veritatis porro quia velit maiores minus tempora provident, asperiores corrupti doloribus </p>
				</div>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="container">
			<h2 class="section-title">Оформить кредит</h2>
			<form action="#" class="form-credit">
				<h3 class="form-credit__title">Сумма кредита</h3>
				<div class="form-slider">
					<div id="credit-slider">
						<div class="ui-slider-helper">
							<a class='ui-slider-handle'>
								<span class="ui-slider-val">0 грн</span>
							</a>
						</div>
					</div>
				</div>
				<h3 class="form-credit__title">Строк кредита</h3>

				<div class="form-slider">
					<div id="termin-slider">
						<div class="ui-slider-helper">
							<a class='ui-slider-handle'>
								<span class="ui-slider-val">0 дней</span>
							</a>
						</div>
					</div>
				</div>
				<fieldset class="form-credit__field">
					<div class="form-credit__item">
						<label for="credit-name" class="form-credit__label">ФИО</label>
						<input id="credit-name" type="text" class="form-credit__input" placeholder="Ведите ФИО" required>
					</div>
					<div class="form-credit__item">
						<label for="credit-phone" class="form-credit__label">Номер телефона</label>
						<input id="credit-phone" type="tel" class="form-credit__input form-credit__input--tel" placeholder="+38 (_ _ _) _ _ _  _ _ _ _" required>
					</div>
					<div class="form__item-multiple">
						<div class="form-credit__item">
							<label for="credit-passport" class="form-credit__label">Серия паспорта</label>
							<input id="credit-seria" type="text" class="form-credit__input form-credit__input--serial" placeholder="XX" maxlength="2" required>
						</div>
						<div class="form-credit__item">
							<label for="credit-seria-num" class="form-credit__label">Номер паспорта</label>
							<input id="credit-seria-num" type="tel" class="form-credit__input form-credit__input--serial-num" placeholder="XXXXXX" maxlength="6" required>
						</div>
					</div>

					<div class="form-credit__item">
						<label for="credit-id" class="form-credit__label">ИНН</label>
						<input id="credit-id" type="text" class="form-credit__input form-credit__input--serial-id" placeholder="XXXXXXXXXX" maxlength="10" required>
					</div>
					<div class="form-credit__item">
						<label for="credit-mail" class="form-credit__label">Почта</label>
						<input id="credit-mail" type="text" class="form-credit__input" placeholder="Введите ваш e-mail" required>
					</div>

					<div class="b-checkbox">
						<input id="credit-check" type="checkbox">
						<label for="credit-check">Я соглашаюсь с <a href="#" class="b-checkbox__link">правилами обработки данных</a></label>	
					</div>

					<button class="form__btn-apply">Отправить</button>
				</fieldset>
			</form>
		</div>
	</section>

{% include "main/online_decision.html" %}
{% if questions|length > 0 %}
   <section class="question-section">
        <div class="container">
            <h2 class="section-title">Вопрос – ответ</h2>
            {% for q in questions %}
            <div class="question spoiler">
                <h3 class="question__title">{{ q.question }}<i class="fas fa-angle-down"></i></h3>
                <p class="question__answer">{{ q.answer }}</p>
            </div>
            {% endfor %}

           </div>
    </section>
{% endif %}
    {% include "info/question_form.html" %}
{% endblock %}
{% block footer_menu %}
 <ul class="footer__nav">
    {% for links in footer_menu1|slice:":5" %}
    <li><a href="{% url 'landing' %}#{{ tab.content.slug }}" class="footer__nav-link">{{ links.content.title}}</a></li>
    {% endfor %}
</ul>
 <ul class="footer__nav">
    {% for links in footer_menu2|slice:":5" %}
    <li><a href="{% url 'landing' %}#{{ tab.content.slug }}" class="footer__nav-link">{{ links.content.title}}</a></li>
     {% endfor %}
</ul>
<ul class="footer__nav">
    {% for links in footer_menu3|slice:":5" %}
    <li><a href="{% url 'landing' %}#{{ tab.content.slug }}" class="footer__nav-link">{{ links.content.title}}</a></li>
    {% endfor %}
</ul>
{% endblock %}