{% load static %}
   {% if not user.is_authenticated %}
    <section class="s-info">
        <div class="container">
            <div class="s-info__img">
                <img src="{% static 'img/credit-cards.png' %}" alt="credit-cards">
            </div>
            <div class="s-info__content">
                <h2 class="s-info__title">Получай решение онлайн без звонка</h2>
                <p class="s-info__text">Просто зарегистрируйтесь на сайте и получите уникальное придложение от нашего сервиса</p>
                <div class="btn-group">
                    <button class="btn btn-prime btnRegistration">Регистрация</button>
                    <button class="btn btn-prime btnLogin">Вход</button>
                </div>
            </div>
        </div>
    </section>
    {% endif %}