   <section class="question-section">
        <div class="container">
            <h2 class="section-title">Вопрос – ответ</h2>
            <div class="question spoiler">
                <h3 class="question__title">Возможно ли отменить транзакцию после отправки?<i class="fas fa-angle-down"></i></h3>
                <p class="question__answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum sapiente officia in saepe, dolor, perferendis deleniti labore. Adipisci dolorum facilis cumque iste, magnam veritatis, consequatur quos nostrum, aperiam, repellat perspiciatis!</p>
            </div>

            <div class="question spoiler">
                <h3 class="question__title">Возможно ли отменить транзакцию после отправки?<i class="fas fa-angle-down"></i></h3>

                <p class="question__answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum sapiente officia in saepe, dolor, perferendis deleniti labore. Adipisci dolorum facilis cumque iste, magnam veritatis, consequatur quos nostrum, aperiam, repellat perspiciatis!</p>
            </div>

            <div class="question spoiler">
                <h3 class="question__title">Возможно ли отменить транзакцию после отправки?<i class="fas fa-angle-down"></i></h3>

                <p class="question__answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum sapiente officia in saepe, dolor, perferendis deleniti labore. Adipisci dolorum facilis cumque iste, magnam veritatis, consequatur quos nostrum, aperiam, repellat perspiciatis!</p>
            </div>

            <div class="question spoiler">
                <h3 class="question__title">Возможно ли отменить транзакцию после отправки?<i class="fas fa-angle-down"></i></h3>

                <p class="question__answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum sapiente officia in saepe, dolor, perferendis deleniti labore. Adipisci dolorum facilis cumque iste, magnam veritatis, consequatur quos nostrum, aperiam, repellat perspiciatis!</p>
            </div>

            <div class="question spoiler">
                <h3 class="question__title">Возможно ли отменить транзакцию после отправки?<i class="fas fa-angle-down"></i></h3>

                <p class="question__answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum sapiente officia in saepe, dolor, perferendis deleniti labore. Adipisci dolorum facilis cumque iste, magnam veritatis, consequatur quos nostrum, aperiam, repellat perspiciatis!</p>
            </div>

            <div class="question spoiler">
                <h3 class="question__title">Возможно ли отменить транзакцию после отправки?<i class="fas fa-angle-down"></i></h3>

                <p class="question__answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum sapiente officia in saepe, dolor, perferendis deleniti labore. Adipisci dolorum facilis cumque iste, magnam veritatis, consequatur quos nostrum, aperiam, repellat perspiciatis!</p>
            </div>
        </div>
    </section>

    <section class="faq">
        <div class="container">
            <form action="#" class="form">
                <h3 class="form__title">Есть вопросы? Задайте их нам</h3>
                <select class="form__item select">
                    <option value="Тема">Тема</option>
                    <option value="Тема">Тема</option>
                </select>

                <input class="form__item input" type="mail" placeholder="E-mail" required>
                <input class="form__item input" type="text" placeholder="Имя" required>
                <input class="form__item input" type="text" placeholder="Ваш вопрос" required>

                <button type="submit" class="btn form__btn">Отправить</button>
            </form>
        </div>
    </section>
